@page "/abilities"
<section id="abilities-header">
    <div id="details-card">

        <h2 class="section-header">Abilities</h2>
        <p>
            <pre>
            <em>" A hero can be anyone. Even a man doing something as simple and
                reassuring as putting a coat around a young boy's shoulders to let him
                know that the world hadn't ended"- Batman</em>
        </pre>
        </p>
    </div>
    <hr />
    <div class="skills-container">
        <h5 class="skills-header">Skills</h5>
        <div class="skill-block-1">
            <ul>
                <li>
                    <span>C#</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>HTML(5)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>ASP.Net/Core</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>WPF</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>UWP</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>

                <li>
                    <span>Blazor.Net</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>XAML</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>

                <li>
                    <span>MVC Pattern</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Object Oriented Programming</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>PostgreSQL</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>CSS(3)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Visual Basic</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div class="skill-block-2">
            <ul>
                <li>
                    <span>UML</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>CQRS Pattern </span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>C++</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Javascript</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Angular 7</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>DevOps</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>C</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Command line interface</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Java</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>

                <li>
                    <span>PHP</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                        <i class="ion-ios-star-outline text-warning"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="skills-container">
        <h5 class="skills-header">Tools</h5>
        <div class="skill-block-1">
            <ul>

                <li>
                    <span>Code2Flow(1 year)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Sublime Text(3 years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Sequel server</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Azure</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Unity(2 years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Blend for VS(4 years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
            </ul>
        </div>
        <div class="skill-block-2">
            <ul>
                <li>
                    <span>Visual Studio(4 years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Visual Studio Code(4 years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>MS Office(10+ years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>MS PowerPoint(10+ years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>Windows(10+ years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
                <li>
                    <span>FireFox(8 years)</span>
                    <span class="ability-score">
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                        <i class="ion-ios-star text-warning"></i>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>
@functions{

}