@page "/experiences"
<section id="experience-header">
    <div class="sub-details-card">

        <h2 class="section-header">Experiences</h2>
        <p>
            <pre>
            <em>"At no time in the ten thousand years or so since the last ice age has the human race been in
            a state of constant knowledge and fixed technology."- Stephen Hawking</em>
        </pre>
        </p>
    </div>
    <br />

    <div class="education-card">
        <div class="card-header">
            <h3>Education</h3>
        </div>
        <div class="card-definition">
            <h5>University of Mines and Technology</h5>
            <p>Sept 2014 - Jun 2018</p>
        </div>
        <div class="card-information">
            <h5>Bachelor - Computer Science & Engineering</h5>
            <p>
                As part of the academic curiculum, I was exposed to and had the oppotunity
                to use a variety of programming languages, C, C++, C#, Visual Basic, PHP, Java, SQL.
                I also learned about UML, SDLC, Design practices, Compiler design, micro-controllers.
                I specialized in C#.
            </p>
        </div>
    </div>

    <div class="career-card">
        <div class="card-header">
            <h3>Career</h3>
        </div>
        <div class="career-def-1">
            <h5><a href="http://witsghana.com/">Working IT Solutions, WITS</a></h5>
            <p>Sept 2018 - Current</p>
            <img class="company-img" src="/img/wits.png" />
        </div>
        <div class="career-inf-1">
            <h5>Fulltime & NSS - Backend Developer</h5>
            <p>
                I worked with a team of very talented developers to build very efficient web applications.
                My role was mainly as a back-end developer, where I used various technologies including C#, ASP.Net Core,
                PostgreSQL to build and maintain web applications and API's.
                I also had experience using GitLab and version control using git; Setting up and using documentation tools like Sphyinx, Slate.
                In addition to my role and a back-end developer at <a href="http://witsghana.com/">WITS</a>, I also often worked with creating
                and maintaining existing front end features; and also often to took turns to lead or be part of small groups (usually 2-3 man groups)
                in working on application features or preparation of project specifications
                <em>Working in <a href="http://witsghana.com/">WITS</a> is a great experience</em>
            </p>
        </div>
        <div class="career-def-2">
            <h5>University of Education Winneba</h5>
            <p>Jun 2016 - Aug 2016</p>
        </div>
        <div class="career-inf-2">
            <h5>Internship - IT Directorate</h5>
            <p>
                I performed various duties in the IT Directorate. These include Internet maintainance,
                Computer maintenance, repair of University office computers.
            </p>
        </div>
        <div class="career-def-3">
            <h5>University of Education Winneba</h5>
            <p>Jun 2014 - Aug 2014</p>
        </div>
        <div class="career-inf-3">
            <h5>Internship - Graduate School Computer laboratory</h5>
            <p>
                I served as an IT assistant to graduate students and helped them solve various
                problems and assisted them in perform simple task. My role spanned from Assistance in printing,
                document editing to fixing of damaged computers in the laboratory.
            </p>
        </div>
    </div>
</section>

@functions {
int currentCount = 0;
[Parameter]
private int IncreamentAmount { get; set; } = 1;

void IncrementCount()
{
    currentCount += IncreamentAmount;
}
}