@page "/projects"
<section id="project-section">
    <div class="sub-details-card">

        <h2 class="section-header">Projects</h2>
        <p>
            <pre class="e-quote">
            <em>"At no time in the ten thousand years or so since the last ice age has the human race been in
            a state of constant knowledge and fixed technology."- Stephen Hawking</em>
        </pre>
        </p>
    </div>
    <br />

    <div class="project-container">
        <a href="https://github.com/dwakel/LChess" class="proj-img project-block-1">
            <div class="proj-transition-block">
                <h5>LChess</h5>
                <p>Voice control chess game</p>
                <strong>Tools:</strong>
                <p>C#, XAML, WPF</p>
            </div>
        </a>
        <a href="https://github.com/dwakel/simpleBTRobotControl" class="proj-img project-block-2">
            <div class="proj-transition-block">
                <h5>BTController</h5>
                <p>Arduino bluetooth controller.</p>
                <p>This can be used as a template to build a controller for different arduino microcontrollers</p>
                <strong>Tools:</strong>
                <p>C#, XAML, UWP</p>
            </div>
        </a>
    </div>
</section>

@functions{

}