@page "/projects"
<section id="project-section">
    <div class="sub-details-card">

        <h2 class="section-header">Projects</h2>
        <p>
            <pre>
            <em>"At no time in the ten thousand years or so since the last ice age has the human race been in
            a state of constant knowledge and fixed technology."- Stephen Hawking</em>
        </pre>
        </p>
    </div>
    <br />

    <div class="project-container">
        <a href="https://github.com/dwakel/LChess" class="project-block-1"><img class="proj-img" src="/img/lches.png" /></a>
        <a href="https://github.com/dwakel/simpleBTRobotControl" class="project-block-2"><img class="proj-img" src="/img/arduino.jpg" /></a>
    </div>
</section>

@functions{

}